/*  */
.container{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 200px auto 200px auto;
}
.grid-header{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
.grid-about-h{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-about-p{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-patronaat-h{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid-patronaat-img{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.grid-patronaat-p1{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
.grid-patronaat-p2{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid-cathedraal-h{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-cathedraal-img{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-cathedraal-p{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
}
.grid-companies-h{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid-companies-p{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid-shops-h{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-shops-p{
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-footer{
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 5;
}
/* small screen columns */
@media only screen and (max-width: 990px) {
  .container{
      grid-template-columns: 100px auto;
  }
  .grid-header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-about-h{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-about-p{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-patronaat-h{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-patronaat-img{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-patronaat-p1{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-patronaat-p2{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-cathedraal-h{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-cathedraal-img{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-cathedraal-p{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-companies-h{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-companies-p{
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-shops-h{
    grid-row-start: 13;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-shops-p{
    grid-row-start: 14;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-footer{
    grid-row-start: 15;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
