/* body settings */
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  margin: 100px 0 0 0;
  padding: 0;
}
/* navbar settings */
nav ul {
  list-style-type: none;
  margin: 0;
  z-index: 1;
  padding: 10px 65px 10px 65px;
  overflow: hidden;
  background-color: #444444;
  border-radius: 20px;
}
video{
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
img{
  max-width: 200px;
  margin-right: 15px;
  border-radius: 10px;

}
.image-haarlem{
  max-width: 400px;
}
#hamburger-click-id{
  display: none;
}
nav{
  position: fixed;
  top: 0;
  left: 1%;
  right: 0;
  width: 98%;
}
nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}
/* navbar small screen settings */
.hamburger{
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  display: none;
}
.hamburger{
  height: 2em;
}
@media only screen and (max-width: 480px) {
  #hamburger-click-id:checked + ul li {
  display: block;
  }
  .hamburger{
    display: block;
  }
  .menu-item {
    display: none;
    width: 100%;
  }
}
/* content settings */
section{
  margin: 0px 100px 0px 100px;
  border-radius: 15px;
}
section:not(.cookie):nth-child(even) {
  background-color: rgb(255, 255, 255, 0.8);
}
section:not(.cookie):nth-child(odd) {
  background-color: rgb(38, 153, 251, 0.8);
  color: #FFFFFF;
}

.logo{
  max-width: 80px;
}

textarea{
  width: 500px;
  height: 200px;
}
ul{
  list-style: none;
}
/* cookie */
#cookie-check:checked + .cookie{
  display: none;
}
#cookie-check{
  display: none;
}
.cookie{
  position: fixed;
  background-color: #AAAAAA;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
}
